*{
    margin: 0;
    padding: 0;
}
header{
    height: 80px;
    box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1);
    background-color: #222831;
    color: white;
}
.nav{
    height: 80px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
   
   
}
.nav ul{
    display: flex;
    height: 100%;
    gap: 3vw;
    list-style: none;
    font-family: "Poppins", sans-serif;
    align-items: center;
    font-size: 19px;
}
.port{
    margin-top: -17px;
    height: 100%;
    font-family: "Poppins", sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    
}
.drop{
    font-size: 23px;
    display: none;
}

.hide:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
    
}

.middle{
    height: 692px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin-left: 10vw;
}
.box1{
    height: 100%;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3vw;
}
.box1 li{
    
    font-size: 22px;
    list-style: none;
}
.box1 li a{
    color: black;
}
.box2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
    gap: 30px;
  
}
.box2 h1{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}
.box2p1{
    color: #797888;
    font-size: 20px;
    letter-spacing: 0.1vw;
    margin-top: -25px;
    
}
.slogan{
    color: #797888;
    padding-right: 6vw;
    text-align: left;
    font-family: "Playwrite PE", cursive;
    
}
.box2 button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #222831;
    cursor: pointer;
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 692px;
    width: 1600px;
    margin-right: 20px;
   
    
}
.img{
    margin-bottom: 30px;
    
    height: 300px;
    width: 300px;
    border-radius:50%;
    background-image: url("profile.jpg");
    background-size: cover;
}    
.middle2{
    height: 400px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
    border-top: 1px solid black;
    /* box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1); */
    
    
   
    
    
}
.mbox{
    height: 250px;
    width: 90%;
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    

}

.mbox1{
    height: 250px;
    width: 650px;
    box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mbox2{
    height: 250px;
    width: 650px;
    box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mbox3{
    height: 250px;
    width: 650px;
    box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mbox div i{
    font-size: 60px;
}
.mbox div h3{
    font-size: 30px;
}

.mbox div p{
    font-size: 20px;
    text-align: center;
}
.skills{
    
    
    font-size: 30px;
    
}
.middle3{
    
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    /* box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1); */
}
.middle3 p{
  

    font-size: 30px;
    /* background-color: #797888;
    border-radius: 20px; */
}
.mboxr{
    height: 250px;
    width: 90%;
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;

}
.mboxr1{
    height: 250px;
    width: 650px;
    box-shadow: 0.1px 0.1px 20px rgba(0,0,0,0.1);

    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mboxr div h3{
    font-size: 30px;
}

.middle4{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: #31363F;
    color: white;
}
.middle4 p{
    font-size: 30px;
   
    padding-top: 10px;
}
.name{
    display: flex;
    flex-direction: column;
    height: 100px;
    gap: 10px;
 
}
.name input{
    height: 80px;
    width: 35vw;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap{
  
    padding-left: 25px;
}
.email input{
    height: 50px;
    width: 35vw;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.email{
    display: flex;
    flex-direction: column;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.pass{
   
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    height: 45px;
    width: 35vw;
    
}
.pass input{
    width: 35vw;
    height: 45px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
}
.middle4 button{
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
}
.passbox{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}
.eye{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: 0.5vw;
    cursor: pointer;
}
.eye .hide{
    display: none;
}

















.middle9{
    
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.middle9 h1{
    font-size: 30px;
    color: white;
}












@media (max-width: 750px){
    
    .hide{
        display: none;
    }
    .drop{
        display: block;
    }
    
    .middle{
        height: 800px;
        margin-top: -15px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .box1{
        
        margin-top: -130px;
        display: flex;
        height: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9vw;
    }
    .box2{
        margin-top: -190px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -0.1vw;
    }
    .slogan{
        word-spacing: 1vw;
        font-family: sans-serif;
        text-align: center;
    }
    .box2 h1{
        font-size: 25px;
    }
    .box2p1{
        font-size: 10px;
    }
    .box3{
        height: 200px;
        width: 200px;
        
    }
    .box3 .img{
        height: 100px;
        width: 100px;
        
    }
    .middle2{
        padding-top: 10px;
        
        height: 750px;
        gap: 0px;
        
        
      
    }
    .mbox{
        
        flex-direction: column;
        height: 600px;
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       
    }
    .mbox1, .mbox2, .mbox3{
       
        width: 90vw;
        height: 200px;
        
    }
    .mbox div i{
        font-size: 40px;
    }
    .mbox div h3{
        font-size: 30px;
    }
    .mbox div p{
        font-size: 15px;
    }


    .middle3{
        height: 350px;
        display: flex;
        justify-content: space-evenly;
        gap: 0px;
        
    }

    .mboxr{
        height: 200px;
        
    }
    .mboxr1{

        width: 90vw;
        height: 200px;
        
    }



    .mboxr div h3{
        font-size: 20px;
    }
    .middle4 p{
        font-size: 20px;
    }
    .gap{
        
        width: 90vw;
        padding: 0;
    }
    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }
    .name input{
        width: 80%;
    }
    .email{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .email input{
        
        width: 80%;
    }
    .passbox{
        display: flex;
        justify-content: center;
        align-items: center;
       
        gap: 0;
        
    }
    .pass{
        margin-left: 28px;
        
        width: 80%;
        gap: 0;
    }
    .pass input{
        width: 100%;
    }
    .eye{
        margin: 0;
        padding: 0;
    }

    .middle9 h1{
        font-size: 19px;
    }
}








